In [1]:
import os
import wget
import numpy
from datetime import datetime

# download and parse input data
ifile_meta = "data/peru_small/dates.txt"
ifile_data = "data/peru_small/data.npy"

if not os.path.isdir("data/peru_small"):
    os.makedirs("data/peru_small")

if not os.path.exists(ifile_meta):
    url = 'https://sid.erda.dk/share_redirect/fcwjD77gUY/dates.txt'
    wget.download(url, ifile_meta)
if not os.path.exists(ifile_data):
    url = 'https://sid.erda.dk/share_redirect/fcwjD77gUY/data.npy'
    wget.download(url, ifile_data)

data_orig = numpy.load(ifile_data)
with open(ifile_meta) as f:
    dates = f.read().split('\n')
    dates = [datetime.strptime(d, '%Y-%m-%d') for d in dates if len(d) > 0]

100% [........................................................................] 52431448 / 52431448

In [2]:
from bfast.monitor.utils import crop_data_dates
start_hist = datetime(2002, 1, 1)
start_monitor = datetime(2010, 1, 1)
end_monitor = datetime(2018, 1, 1)
data, dates = crop_data_dates(data_orig, dates, start_hist, end_monitor)
print("First date: {}".format(dates[0]))
print("Last date: {}".format(dates[-1]))
print("Shape of data array: {}".format(data.shape))

First date: 2003-07-14 00:00:00
Last date: 2016-09-27 00:00:00
Shape of data array: (216, 334, 334)

In [3]:
data_orig

array([[[-32768, -32768, -32768, ...,   4521,   4563,   4120],
        [-32768, -32768, -32768, ...,   4388,   4223,   4353],
        [-32768, -32768, -32768, ...,   4243,   4185,   4389],
        ...,
        [-32768, -32768, -32768, ..., -32768, -32768, -32768],
        [-32768, -32768, -32768, ..., -32768, -32768, -32768],
        [-32768, -32768, -32768, ..., -32768, -32768, -32768]],

       [[-32768, -32768, -32768, ..., -32768, -32768, -32768],
        [-32768, -32768, -32768, ..., -32768, -32768, -32768],
        [-32768, -32768, -32768, ..., -32768, -32768, -32768],
        ...,
        [-32768, -32768, -32768, ..., -32768, -32768, -32768],
        [-32768, -32768, -32768, ..., -32768, -32768, -32768],
        [-32768, -32768, -32768, ..., -32768, -32768, -32768]],

       [[-32768, -32768, -32768, ...,   4582,   4680,   4306],
        [-32768, -32768, -32768, ...,   4130,   4408,   4471],
        [-32768, -32768, -32768, ...,   4451,   4654,   4885],
        ...,
        [-32768, -32768, -32768, ..., -32768, -32768, -32768],
        [-32768, -32768, -32768, ..., -32768, -32768, -32768],
        [-32768, -32768, -32768, ..., -32768, -32768, -32768]],

       ...,

       [[  4337,   4242,   4213, ...,   4290,   4220,   4266],
        [  3962,   4154,   3885, ...,   4549,   4253,   4347],
        [  3970,   3968,   4163, ...,   4374,   4306,   4401],
        ...,
        [-32768, -32768, -32768, ...,   3795,   3895,   3806],
        [-32768, -32768, -32768, ...,   3683,   3737,   3762],
        [-32768, -32768, -32768, ...,   3643,   3633,   3446]],

       [[-32768, -32768, -32768, ...,   4211,   4103,   4157],
        [-32768, -32768, -32768, ...,   4490,   4209,   4315],
        [-32768, -32768, -32768, ...,   4208,   4262,   4156],
        ...,
        [-32768, -32768, -32768, ...,   4057,   4058,   4167],
        [-32768, -32768, -32768, ...,   4164,   4109,   4163],
        [-32768, -32768, -32768, ...,   4055,   3754,   3710]],

       [[-32768, -32768, -32768, ..., -32768, -32768, -32768],
        [-32768, -32768, -32768, ..., -32768, -32768, -32768],
        [-32768, -32768, -32768, ..., -32768, -32768, -32768],
        ...,
        [-32768, -32768, -32768, ..., -32768, -32768, -32768],
        [-32768, -32768, -32768, ..., -32768, -32768, -32768],
        [-32768, -32768, -32768, ..., -32768, -32768, -32768]]],
      dtype=int16)

In [5]:
ifile_meta

'data/peru_small/dates.txt'

In [6]:
from bfast import BFASTMonitor

model = BFASTMonitor(
            start_monitor,
            freq=365,
            k=3,
            hfrac=0.25,
            trend=False,
            level=0.05,
            backend='opencl',
            device_id=0,
        )
model.fit(data, dates, n_chunks=5, nan_value=-32768)

print("Detected breaks")
# -2 corresponds to not enough data for a pixel
# -1 corresponds to "no breaks detected"
# idx with isx>=0 corresponds to the position of the first break
print(model.breaks)

Detected breaks
[[-1 -1 -1 ... -1 35 -1]
 [-1 -1 -1 ... -1 -1 -1]
 [-1 -1 -1 ... -1 -1 -1]
 ...
 [-2 -2 -2 ...  1  1  1]
 [-2 -2 -2 ...  1  1  4]
 [-2 -2 -2 ...  1  1  1]]

In [7]:
from matplotlib import pyplot

In [8]:
model.breaks.plot()
pyplot.show()

AttributeError: 'numpy.ndarray' object has no attribute 'plot'

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(model.breaks)

In [13]:
df

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,-1,-1,-1,-1,-1,-1,-1,114,69,112,...,-1,-1,-1,-1,-1,-1,-1,-1,35,-1
1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,50,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,-1,-1,42,-1,-1,-1,-1,-1,77,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2,...,0,1,0,0,0,1,1,1,4,6
330,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2,...,0,0,0,1,1,0,1,1,1,7
331,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2,...,0,0,0,0,1,1,0,1,1,1
332,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2,...,0,0,0,0,0,0,0,1,1,4
333,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2,...,1,0,0,0,0,0,1,1,1,1